.body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.weblogo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}
.weblogo_add {
    color: #2e2f42;
}

 /* NAVI_LIST */
 .first_listi {
    list-style-type: none;
 }
 .firs_links {
    text-decoration: none;
 }
.nav_list .firs_links {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42; 

}
.nav_list .firs_links:hover,
.nav_list .firs_links:focus {
    color: #404bbf;
}
/* address */
.address {
    font-style: normal;
}
.list_addres {
    list-style-type: none;
}
.li_address .address_link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.li_address .address_link:hover,
.li_address .address_link:focus {
    color: #404bbf;
}

/* FIRST SECTION */
.firs_section {
    background-color: #2e2f42;
}
.main_words {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.button {
    background-color: #4D5AE5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.button:hover,
.button:focus {
    color: #404BBF;
}
/* SECOND SECTION */
.list_sec {
    list-style-type: none;
}
.second_title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.sec_parag {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* THIRD SECTION */
.therd_list {
    list-style-type: none;
}
.therd_sec {
    background-color: #F4F4FD;
}
.our_team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.li_therd {
    background-color: #FFFFFF;
}
.name_compani {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.therd_par {
    font-size: 16px;
    line-height: 1.5;
    initial-letter: 0.02em;
    color: #434455;
}
/* FOUR SECTION */
.four_gen {
    list-style-type: none;
}
.forgen_slog {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}.apps_market {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.par_for_p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* FOOTER */
.footer {
    background-color: #2e2f42;
}
.weblogi {
    text-decoration: none;
}
.weblogi {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.weblogo_addi {
    color: #f4f4fd;
}
.par_footer {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}